*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

#titulo{
  margin-bottom: 30px;
}

#container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  box-shadow: 5px 5px 10px #00000056;
  max-width: 75vw;
  padding: 30px;
  border-radius: 20px;
}


#profile-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  background-position: center;
  margin: 20px 0 10px 0;
}

#nome{
  margin: 15px 0 0 0;
}

#cargo{
  color: #49A6EA;
  margin: 10px 0;
}

#description{
  margin-top: 20px;
  width: 75%;
}

.prev-btn, .next-btn, .random-btn{
  margin-right: 10px;
  cursor: pointer;
}

#options{
  display: flex;
  flex-direction: row;
}